{{ if .Site.Params.googleTagManager }}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.googleTagManager }}"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
{{ end }}

{{ if .IsHome }}


  <header class="row middle-xs center-xs">
    <div class="col-xs-12">
      <div class="row middle-xs center-xs">
        <a href="#/cart" class="snipcart-summary-side">
          <header class="snipcart-header">
            <div class="snipcart-div">
              <img class="bag" src="/bag.svg">
              <!-- <h2>BAG</h2> -->
              <!-- <span class="snipcart-total-price"></span> -->
            </div>
          </header>
        </a>
        <div class="col-xs-12">
          <!-- {{ .Site.Params.latestPurchaseLink }} goes here -->
          <img {{ if .Site.Params.lazyLoading }}data-src="{{ .Site.Params.latestCover }}" lazyload="on"{{ else }}src="{{ .Site.Params.latestCover }}"{{ end }} alt="{{ .Site.Title }}" class="home-logo {{ if .Site.Params.lazyLoading }}lazyload{{ end }}">
        </div>
      </div>
      <div class="row middle-xs center-xs">
        <div class="col-xs-12">
          <h1>{{ .Site.Params.latest }}</h1>
          <button class="snipcart-add-item buy-button main"
            data-item-id="{{ .Site.Params.item_id }}"
            data-item-price="{{ .Site.Params.item_price }}"
            data-item-url="{{ .Site.Params.item_url }}"
            data-item-description="{{ .Site.Params.item_description }}"
            data-item-image="{{ .Site.Params.latestCover }}"
            data-item-name="{{ .Site.Params.item_name }}"
            data-item-shippable="{{ .Site.Params.shippablemain }}">
              Buy Now
          </button>
        </div>
      </div>
    </div>
  </header>
{{ end }}

<nav class="row middle-xs center-xs">
  <div class="col-xs-6 col-sm-1 logo">
    <a href="{{ "#" | relLangURL }}"><img {{ if .Site.Params.lazyLoading }}data-src="{{ .Site.Params.logoSmall }}" class="lazyload" lazyload="on"{{ else }}src="{{ .Site.Params.logoSmall }}"{{ end }} alt="{{ .Site.Title }}"></a>
  </div>
    {{ range .Site.Menus.main }}
      <div class="col-xs-3 col-sm-2">
        <h3><a href="{{ .URL }}">{{ .Name }}</a></h3>
      </div>
    {{ end }}
  <div class="col-xs-6 col-sm-1 nav-toggle">
      <a href="" class="nav-icon" onclick="return false">
        <img {{ if .Site.Params.lazyLoading }}data-src="/images/icon-menu.png" class="lazyload" lazyload="on"{{ else }}src="/images/icon-menu.png"{{ end }} alt="Open Menu">
        <img {{ if .Site.Params.lazyLoading }}data-src="/images/icon-x.png" class="lazyload" lazyload="on"{{ else }}src="/images/icon-x.png"{{ end }} alt="Close Menu" style="display: none;">
      </a>
  </div>
</nav>

<section class="nav-full row middle-xs center-xs">
  <div class="col-xs-12">
    <div class="row middle-xs center-xs">
      {{ range .Site.Menus.main }}
        <div class="col-xs-12"><h1><a href="{{ .URL }}">{{ .Name }}</a></h1></div>
      {{ end }}
    </div>
  </div>
</section>
