
<h4>&pound;{{ .Params.price }}</h4>

<!--
<label>Quantity</label>
<input id="quantity" type="number"></input>
<label>{{ .Params.custom2_name }}</label>
<select id="{{ .Params.custom2_name }}">

  <option value="Black">{{ .Params.custom2_opt }}</option>
  <option value="Brown">{{ .Params.custom2_opt }}</option>
  <option value="Gold">Gold</option>
</select>
-->

<!-- modal ID
    data-item-id="{{ .Site.Params.item_url }}#modal-{{ .Scratch.Get "$modalID" }}"
 -->

<button class="snipcart-add-item buy-button mainmodal"

    data-item-id="{{ .Params.productid }}"
    data-item-name="{{ .Params.alt }}"
    data-item-price="{{ .Params.price }}"
    data-item-url="{{ .Site.Params.item_url }}"
    data-item-description="{{ .Params.Title }}"
    data-item-image="/images/{{ .Params.image }}"
    data-item-custom1-name="{{ .Params.custom1_name }}"
    data-item-custom1-options="{{ .Params.custom1_opt }}"
    data-item-custom1-required="{{ .Params.custom1_reqd }}"
    data-item-custom2-name="{{ .Params.custom2_name }}"
    data-item-custom2-options="{{ .Params.custom2_opt }}"
    data-item-custom2-required="{{ .Params.custom2_reqd }}"
    data-item-custom3-name="Order notes"
    data-item-custom3-type="textarea"
    data-item-categories="{{ .Params.category }}"
    data-item-shippable="{{ .Params.shippable }}"
    data-item-file-guid="{{ .Params.fileguid }}"



    >
Add to Bag
</button>
