{{ range where .Site.RegularPages "Section" "gallery" }}

  <!-- First 4 characters of each gallery page's unique ID -->
  {{ $modalID := (slicestr .File.UniqueID 0 4) }}

  <div id="modal-{{ $modalID }}" class="modal">

    <!-- Modal box -->
    <div class="modal-box">
      <span class="close">&times;</span>
      <div class="modal-container">

        <div class="modal-header">
          <div class="modal-header-img-container" {{ if .Params.color }}style="background-color:{{ .Params.color }}"{{ end }}>
            <img {{ if .Site.Params.lazyLoading }}data-src="{{ "images/" | relURL }}{{ .Params.image}}" class="lazyload"{{ else }}src="{{ "images/" | relURL }}{{ .Params.image}}"{{ end }} {{ if .Params.alt }}alt="{{ .Params.alt }}"{{ end }}>
          </div>
        </div>

        <div class="modal-content">
          <h2>{{ .Params.title }}</h2>
          <button class="snipcart-add-item mainmodal"
              data-item-id="{{ .URL }}"
              data-item-name="{{ .Params.alt }}"
              data-item-price="{{ .Params.price }}"
              data-item-url="{{ .Permalink }}"
              data-item-description="{{ .Params.Title }}"
              data-item-image="/images/{{ .Params.image }}"
              data-item-custom1-name="{{ .Params.custom1_name }}"
              data-item-custom1-options="{{ .Params.custom1_opt }}"
              data-item-custom1-required="{{ .Params.custom1_reqd }}"
              data-item-custom2-name="{{ .Params.custom2_name }}"
              data-item-custom2-options="{{ .Params.custom2_opt }}"
              data-item-custom2-required="{{ .Params.custom2_reqd }}"
              data-item-custom3-name="Order notes"
              data-item-custom3-type="textarea"
              data-item-categories="{{ .Params.category }}"
              data-item-shippable="{{ .Params.shippable }}"
              data-item-file-guid="{{ .Params.fileguid }}">
          Add to Bag
          </button>
          <br></br>
          <article class="entry-content">
            {{ .Content }}
          </article>

          {{ if .Params.link1 }}<h3><a href="{{ .Params.link1 }}">{{ i18n "view" }}</a></h3>{{ end }}
          {{ if .Params.link2 }}<h3><a href="{{ .Params.link2 }}">{{ i18n "code" }}</a></h3>{{ end }}
        </div>

      </div>
    </div>

  </div>
{{ end }}
